[2015-07-05 16:05] Fauntleroy opened #1 "Adding `undefined` class to anything without `className` defined"
<img width="396" alt="screen shot 2015-07-05 at 9 05 33 am" src="https://cloud.githubusercontent.com/assets/507047/8512392/0671fec6-22f5-11e5-9d3c-173374977a85.png">

[2015-07-14 23:40] #1 closed

[2015-10-22 23:35] jme783 opened #4 "Deprecation Warning"
`Unknown.getDOMNode(...) is deprecated. Please use ReactDOM.findDOMNode(instance) instead.`

This happens when I click on the dropdown trigger. Any thoughts?

[2015-12-07 20:26] lukaszgrolik commented on #4
The same happens to me, React 0.14.3. Is this repo still maintained?

[2015-12-07 20:35] Fauntleroy commented on #4
Sorry about this! I haven't cleaned this up for recent versions of React, but I'll get to it within the next day or so.

[2015-12-10 05:20] #4 closed

[2015-12-10 18:29] Fauntleroy commented on #4
@jme783 @lukaszgrolik You should be able to use `1.0.0` from npm with no issues.

[2015-12-10 18:48] lukaszgrolik commented on #4
Great, thanks!

[2015-12-10 20:15] lukaszgrolik opened #6 "v1.0.0 - Webpack: Module not found: Error: Cannot resolve module 'react-simple-dropdown'"
I even tried to remove `node_modules/` and reinstall all packages, still the same. When I switch back to v0.1.1 it works again.

[2015-12-10 20:19] Fauntleroy commented on #6
Can you provide any more error information? What method were you using to include the module?

[2015-12-10 20:22] lukaszgrolik commented on #6
[code]
It works with v0.1.1

[2015-12-10 20:27] Fauntleroy commented on #6
Are you installing through `npm`?

[2015-12-10 20:34] lukaszgrolik commented on #6
Yes

[2015-12-12 17:40] Fauntleroy commented on #6
`1.0.1` should work. There was a configuration error stemming from my switch to compiled JS which should be resolved now.

https://github.com/Fauntleroy/react-simple-dropdown/commit/f91217c9b6cff31f954bb964b5d326797ac0d103

[2015-12-12 17:40] #6 closed

[2015-12-12 17:41] Fauntleroy commented on #4
@jme783 You will need to use `1.0.1`, as there is a critical problem with `1.0.0`.

[2016-01-19 12:54] mleonard87 opened #9 "Dropdown doesn't hide on single page web apps"
I'm using this drop down on a single page web app with the Dropdown in a global header. In the Dropdown I have links for navigation change the URL. Its a single page web app so its just changing route and the page doesn't reload. As such, after clicking a link and having the page change the Dropdown is still in its active state which is not desirable. This is because the component never umounts/mo

[2016-01-19 16:50] Fauntleroy commented on #9
I've had this issue before in the distant past, and I seem to recall basically turning this into a controlled component and using the `show` property to manually hide/show the dropdown when appropriate.

Your solution would work for this specific use case, but I'd like to take some time to think of other situations which might call for this functionality.

[2016-03-15 21:16] jme783 opened #11 "Cannot load application after upgrade from 0.1.1 -> 1.0.1"
I receive the following error when loading up my React application when using 1.0.1:

`Uncaught Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. Check the render method of `t`.`

I didn't change any of my JSX, simply just upgraded the package. Any help on this would be greatly appreciated.

[2016-03-15 21:18] Fauntleroy commented on #11
How are you installing the package? Are you compiling your JS into a bundle? If so, how are you doing that?

[2016-03-15 21:24] jme783 commented on #11
I ran `npm install --save react-simple-dropdown@0.1.1`, which overwrites my `node_modules` version of the library.

[2016-03-15 21:25] jme783 commented on #11
And yes, I am compiling my JS into a bundle using browserify. This is done as a gulp task

[2016-03-15 21:25] Fauntleroy commented on #11
Are you using babelify? If you `console.log(ReactSimpleDropdown)`, what is its value?

[2016-03-15 21:30] jme783 commented on #11
Yes, we are using babelify. Here is the relevant code:
[code]

[2016-03-15 21:33] jme783 commented on #11
When I `console.log` ReactDropdown, looks like I get a function:

[code]

[2016-03-15 21:35] Fauntleroy commented on #11
Can you include the full stack trace from:

```Uncaught Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. Check the render method oft.```

What version of React are you using?

[2016-03-15 21:35] jme783 commented on #11
[code]

[2016-03-15 21:36] jme783 commented on #11
Using React 0.14.3

[2016-03-15 21:47] Fauntleroy commented on #11
I'm drawing up blanks here. Aside from the `Dropdown` component being unable to find `DropdownContent` and `DropdownTrigger`, I'm not sure what could be going on. What's going on in `index.js` (Specifically line 5)?

[2016-03-15 21:51] jme783 commented on #11
Bummer. Here's my `index.js` file:

[code]

[2016-03-15 21:51] jme783 commented on #11
Line 5 is `ReactDOM.render(`

[2016-03-15 21:55] jme783 commented on #11
Would it matter that in our app, we use `import` instead of `require` to pull in components?

[2016-03-15 21:56] Fauntleroy commented on #11
It might matter under specific circumstances, but not this one. Here are a couple things to try:

- Using `require` instead of `import`, especially if this worked in the past
- Removing `Dropdown` from your application and checking for the error again

[2016-03-15 21:57] jme783 commented on #11
With the old version of the library, we used `import` and it worked just fine

[2016-03-15 22:00] jme783 commented on #11
Confirmed, removing the `Dropdown` component gets rid of the error. The problem is definitely the component, somehow...

[2016-03-15 22:13] Fauntleroy commented on #11
- In `node_modules/react-simple-dropdown`, does the `lib` directory exist?
- Have you tried uninstalling `react-simple-dropdown` and reinstalling it?

[2016-03-16 00:42] jme783 commented on #11
Tried blowing away `node_modules` and reinstalling. Same thing. And yes, the `lib` directory is there

[2016-03-21 16:17] chmanie commented on #11
I'm getting the same errors here:

[code]

Using react 0.14.7.

[2016-03-21 16:19] Fauntleroy commented on #11
Can you show me the code that's using `ReactSimpleDropdown`?

For example: https://github.com/Fauntleroy/react-simple-dropdown/blob/gh-pages/src/components/AccountDropdown.jsx

[2016-03-21 16:36] chmanie commented on #11
I'm sorry, I changed the code and now I can't reproduce it anymore. So yeah, it works after all.

[2016-04-26 20:51] aaggarwa88 commented on #11
I am getting same error.  Has this been resolved?

[2016-04-26 20:57] Fauntleroy commented on #11
@aaggarwa88 I don't believe this was resolved yet, so any information you can provide would be extremely helpful!

[2016-05-17 14:02] csterritt commented on #9
For whatever it's worth, I just set a "ref" on the `DropDown`, and then in my click-handler code for the `DropDownContent` I put:

[code]

[2016-05-21 14:13] digitalpbk opened #13 "Compatiblity with React 15.1.0"
Is this compatible with 15.1.0 ?
If yes, can you update the dependencies?

npm WARN react-simple-dropdown@1.1.0 requires a peer of react-dom@0.14.x || 15.0.x but none was installed.
npm WARN react-dom@15.1.0 requires a peer of react@^15.1.0 but none was installed.

[2016-05-23 09:16] amertak commented on #13
I would suggest using peerDependency "^15.0.1" instead of "15.0.x" as we already have 15.1.0. Thanks ;)

[2016-05-25 00:33] #13 closed

[2016-05-25 00:34] Fauntleroy commented on #13
Sorry for the delay. Updating and releasing now.

[2016-06-01 17:06] nervestaple commented on #11
i'm using version 1.1.2 with webpack with babel and ran into a similar/the same problem with ES6 import. the module names appeared to be wrong. to get around this, i used:

`import { default as Dropdown, DropdownContent, DropdownTrigger } from "react-simple-dropdown";`

[2016-06-01 18:02] Fauntleroy commented on #11
@nervestaple Were you able to include everything using:

[code]

If that didn't work, but your current solution does, I think this might be an issue with Babel at some level. If that is indeed the issue, I'll have to look into whether or not I can take care of this from my end...

[2016-06-20 18:23] tyrsius commented on #9
@Fauntleroy even just putting a property on the Dropdown like `closeOnClick` would be a big improvement. For Certain kinds of dropdowns *any* click should close it, inside or out.

[2016-06-20 20:35] Fauntleroy commented on #9
I'll look into an update which should allow something like this:

[code]

[2016-06-23 00:58] Fauntleroy commented on #9
@tyrsius I just published https://github.com/Fauntleroy/react-simple-dropdown/releases/tag/1.1.3, which will allow you to use the code above to hide the dropdown anytime anything within `DropdownContent` is clicked.

Since I do not plan on introducing a more elaborate way of doing this in the forseeable future, I'll close this issue for now.

[2016-06-23 00:58] #9 closed

[2016-06-23 16:22] andrewdelprete opened #15 "Receiving a build error when upgrading to 1.1.3"
Hey there, when upgrading to 1.1.3 I'm receiving the error below

[code]

It doesn't appear that `babel-preset-es2016` is being installed when I run an `npm install` from my project (it's not in my node_modules folder). If I install this preset manually then the build works just fine without errors.

**npm version**: 3.3.12
**node version**: v5.1.0

Any thoughts?

Thank you!

[2016-06-23 17:37] Fauntleroy commented on #15
Here are some questions that will help me troubleshoot:

- How are you including `react-simple-dropdown` in your project?
- Are you installing from npm?
- Are you using this repo directly?
- Are you using webpack/browserify?

I've run this through a couple of my projects and it seems to work without incident. I'm not sure why babel would be causing issues, since compilation is done before publishi

[2016-06-23 17:43] Fauntleroy commented on #15
@andrewdelprete In this last update I added a `.babelrc` to the project. Are you using babel in your project? There's a possibility your build is somehow picking up `react-simple-dropdown`'s `.babelrc`.

[2016-06-23 19:45] Burneh opened #16 "DropdownTrigger now requiring onClick prop is a breaking change in 1.1.3"
After upgrading we receive the following error

Warning: Failed propType: Required prop `onClick` was not specified in `DropdownTrigger`. Check the render method of `ProFilterStatus`

1.1.3 sets the prop for onClick in the DropdownTrigger.jsx file to be required. It was not previously required and we handled the events ourselves.

Sticking with 1.1.2 for now. Thanks!

[2016-06-23 20:28] Fauntleroy commented on #16
I just released https://github.com/Fauntleroy/react-simple-dropdown/releases/tag/1.1.4 to resolve this issue. Looks like `cloneElement` and `propTypes` do not interact as I expected them to.

[2016-06-23 20:28] #16 closed

[2016-06-24 02:49] andrewdelprete commented on #15
Hey @Fauntleroy,

I'm installing from NPM and utilizing Browserify to build and Babel to transpile things. I have my own .babelrc at the root level of my project where I include the preset `es2015`. For some reason when I run an `npm install` from the root level of my project `babel-preset-es2016` is not being installed even though you have it as a dependency in `react-simple-dropdown`. I don't th

[2016-06-24 19:08] davinchia commented on #15
Received the same error. It was fixed when I used

import Dropdown, { DropdownTrigger, DropdownContent } from 'react-simple-dropdown';

instead of

var Dropdown = require('react-simple-dropdown');
var DropdownTrigger = Dropdown.DropdownTrigger;
var DropdownContent = Dropdown.DropdownContent;

as on the README.

Not sure why..

[2016-06-24 19:16] davinchia commented on #11
Received the same error. It was fixed when I used

import Dropdown, { DropdownTrigger, DropdownContent } from 'react-simple-dropdown';

instead of

var Dropdown = require('react-simple-dropdown');
var DropdownTrigger = Dropdown.DropdownTrigger;
var DropdownContent = Dropdown.DropdownContent;

as on the README.

Not sure why..

[2016-06-25 18:13] Fauntleroy commented on #11
@davinchia I imagine that's a separate issue which was introduced in a recent version of `react-simple-dropdown` by mistake. Recent versions of babel do not export modules in a commonjs compatible way when they are defined as es6 modules. I'll roll out an update that resolves this issue soon.

[2016-06-27 17:12] davinchia commented on #11
@Fauntleroy

It's not a big issue. I wrote a reply mainly for other users that might get the same error; you are still getting a star from me!

[2016-07-01 13:50] hellectronic commented on #11
Would it make more sense, to have an index.js that exports all components as _named exports_ instead of importing Dropdown and then access the other components through it?
I suppose you always need all components?

[2016-07-12 03:42] Rufflewind commented on #11
Here's an alternative to @davinchia's solution:

    var SimpleDropdown = require('react-simple-dropdown');
    var Dropdown = SimpleDropdown.default;
    var DropdownTrigger = SimpleDropdown.DropdownTrigger;
    var DropdownContent = SimpleDropdown.DropdownContent;

[2016-07-14 08:53] mayrsascha opened #17 "Does not work together with Tether/React Tether"
Not sure if this issue belongs here.

I am facing a problem that I put a datepicker [https://github.com/Hacker0x01/react-datepicker](url) as dropdown content. The datepicker is using Tether to connect the input field component to the calendar component.

The date input field is a child of dropdown content
<img width="590" alt="bildschirmfoto 2016-07-14 um 10 46 22" src="https://cloud.githubusercon

[2016-07-14 08:54] mayrsascha commented on #17
Using version 1.1.4

[2016-08-26 00:34] marcysutton opened #19 "Example in a separate branch makes it really hard to develop the dropdown"
Maybe I'm missing something, but having your example code in `gh-pages` and pointing to the npm module as source code makes it really hard to contribute back to the dropdown. I was hoping to work on the accessibility of this dropdown and I'm finding it impossible to work with. Having a working example you can run in a local server would make it a lot easier to contribute back to this component.

[2016-08-26 15:04] Fauntleroy commented on #19
Hey Marcy, thanks for submitting your issue!

I've always had hella trouble with running the example as well, for the same reason. Ultimately it's because I was using the example for the `gh-pages` site, so I'd have to switch branches all the time and... ech.

LUCKILY, GitHub just released a (new `gh-pages` feature)[https://github.com/blog/2228-simpler-github-pages-publishing] which will make thin

[2016-09-05 19:04] #19 closed

[2016-09-05 19:06] Fauntleroy commented on #19
Hey @marcysutton, I just took care of this issue in `master`. Please try it out and tell me if it works for you!

[2016-09-09 08:23] Mara15 opened #21 "Prop "show" doesn't work"
Prop 'active' works for me instead. Fix docs pls.

[2016-09-09 18:30] #21 closed

[2016-09-09 18:31] Fauntleroy commented on #21
Thanks for reporting this issue! It looks like my confusion stemmed from having both an `active` prop and a `show` method on the `Dropdown` component. I've fixed the documentation error and  added documentation for the instance methods I feel developers will find useful.

[2016-10-13 02:26] akeroyd opened #23 "npm has incorrect props documentation"
Hi, on the npm page for this package it says `show` is the prop to toggle the state of `DropdownComponent`, but in GitHub it is `active`.
I'm not sure why, as they both show the same version number.

[2016-10-13 02:29] Fauntleroy commented on #23
Ah! That's probably because I updated the `readme.md` here on GitHub, but I haven't published to npm yet (since there have been no code changes). I'll have to see if there's some way to push the readme to npm, else I'll need to bump the version just for that change.

[2016-10-20 05:08] bsdo64 opened #24 "How this works with modal?"
I'm using modal component with inside dropdown button.
For example, when user click the button, the modal is opened with some information. But user clicks modal any where, behind dropdown is closed. I don't want to close behind dropdown.

How to fix this side effect? Could anyone help me some advice?

[2016-10-21 20:28] Fauntleroy commented on #24
Hey @bsdo64 ! Can you give me an example of the code you're having trouble with? What component are you using for the modal window?

[2016-10-25 01:50] bsdo64 commented on #24
@Fauntleroy I'm using react-modal component.

[code]

This is all code.
When I just click over modal or overlay, behind dropdown also hide.
How to prevent it?

![ezgif-4020570459](https://cloud.githubusercontent.com/assets/5698928/19670250/ae1f1aea-9aa0-11e6-994b-2551daa80ff9.gif)

[2016-10-29 22:42] Fauntleroy commented on #24
@bsdo64 I think you should try to use `event.stopPropagation` to prevent the click event from bubbling up from the modal:

[code]

[code]

Alternatively, you could manually manage the value of the `active` prop on `Dropdown`

[2016-11-16 19:09] Fauntleroy commented on #23
Fixed in `1.1.5`: https://www.npmjs.com/package/react-simple-dropdown

[2016-11-16 19:09] #23 closed

[2017-01-19 21:48] aronlmin opened #27 "error installing to windows machine"
doesnt work without es2016 as a preset

[code]

when installing es2016 errors occur:

[code]

[2017-01-21 00:03] Fauntleroy commented on #27
What command causes this error to occur? Are you using browserify & babel to compile a bundle?

Off the top of my head this sounds like it might be an issue related to top level browserify/babel configurations accidentally being applied to all imported modules.

[2017-01-24 11:46] Extra-lightwill opened #28 "Transitions with react-simple-dropdown."
What would be the best way to implement a dropdown with transitions (e.g. http://codepen.io/shshaw/pen/gsFch) using this library?

[2017-01-30 00:32] Fauntleroy commented on #28
@Extra-lightwill You'd want to use CSS transitions—much like the ones in that codepen—to get the effect you want.

This component uses the `.dropdown--active` class to define whether or not the dropdown should be showing. By default this is a simple `display: none` toggle, but you can override that behavior and do something else entirely.

[code]

[2017-01-30 13:58] selvagsz opened #29 "Remove href from dropdown trigger"
What's the reason behind the href in the dropdown trigger? https://github.com/Fauntleroy/react-simple-dropdown/blob/6ac882a056afd2077e642b496b0664aec4b41c2b/src/components/DropdownTrigger.jsx#L25

I'm facing issue while migrating my angular app to react. NgRouter tries to navigate when clicking on the dropdown menu

[2017-01-30 16:35] Fauntleroy commented on #29
That's a good question! I'm gonna look into it whether or not it truly does anything...

[2017-01-30 16:38] selvagsz commented on #29
@Fauntleroy I'd forked & removed the href. Everything seemed to work fine though. If agreed upon, I can raise a PR to the upstream

[2017-02-03 19:15] lintiwen opened #31 "Inline CSS so that users don't have to include barebone css manually"
I think it might be easier for users of this module, if we use the CSS-in-JS approach to inline the required css?
Any thoughts on doing or not-doing this?

[2017-02-07 02:51] Phenominal commented on #31
I think that is a great idea. Currently I am running into problems with importing the CSS because of Webpack...

[2017-02-07 06:58] selvagsz commented on #29
@Fauntleroy Had a chance to look into this ?

[2017-02-07 16:47] Fauntleroy commented on #29
https://github.com/Fauntleroy/react-simple-dropdown/releases/tag/2.0.0

[2017-02-07 16:47] Fauntleroy commented on #29
The `href` should no longer appear in `2.0.0`. Just published to npm.

[2017-02-07 16:47] #29 closed

[2017-02-08 04:32] selvagsz commented on #29
@Fauntleroy thanks

[2017-02-15 11:37] sidonaldson commented on #31
I agree with @lintiwen but only because the barebone styles are so minimal!

[2017-02-23 17:07] pmcavoy89 opened #32 "Add License Please"
Could you add a license to this project please?

Thanks.

[2017-02-23 18:34] Fauntleroy commented on #32
The license can be found here: https://github.com/Fauntleroy/react-simple-dropdown/blob/master/LICENSE

[2017-02-23 19:10] pmcavoy89 commented on #32
Can we add it to the `package.json` so that the warning goes away? Sorry about over looking the file though.

Thanks for the quick response.

[2017-04-10 13:03] brynjagr opened #33 "Deprecation warnings for use of React.PropTypes and React.createClass"
As of React v15.5.0 you get deprecation warnings for using `React.PropTypes` and `React.createClass`. You now have to import these from separate packages (https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html)

Edit: Also, react-addons-test-utils has been moved to react-dom/test-utils…

[2017-04-11 08:43] andrevenancio commented on #33
I'm interested in this update too. However, based on the pending Pull Requests at this repo I assume the contributors aren't on top of this. Hope I'm wrong.

[2017-04-11 17:58] Fauntleroy commented on #33
I am paying attention to this issue and researching the best way to move forward with this. `peerDependencies` are my current sticking point, and once I figure out what I'd like to do about that there will be a version increment and release.

@andrevenancio pull requests are always welcome!

[2017-04-12 08:19] brynjagr commented on #33
I think both create-react-class and prop-types will work with previous versions of React. Including them as dependencies will of course make bundles a bit larger than necessary for people using React <v16 .

Another possibility would be switch to ES6 classes – then you would only need to add prop-types.

[2017-04-12 10:03] andrevenancio commented on #33
They shouldn't make bundles larger. The reason PropTypes was removed from React was to make React bundle smaller because most people don't use it. *at least that was what they say on their website.

So in theory the code just changed to an external package.

I'm happy to do a PR, but I've noticed you had long pending PR's so assumed this wasn't being actively maintained. :)

[2017-04-15 17:44] wavebeem opened #34 "Stop propagation option"
In https://github.com/tootsuite/mastodon/issues/1673#issuecomment-294278749 we're having issues because we can't stop propagation of menu events from this component.

Maybe there could be a top level prop like `disablePropagation={true}`?

[2017-04-17 16:57] Fauntleroy commented on #34
Ideally I'd like to be able to make the `event` object available to you somehow so that you could `stopPropagation` on your own. I'll take a look at your use case soon and see about the best way to resolve this issue.

[2017-04-17 17:04] wavebeem commented on #34
Cool, thanks!

[2017-04-17 23:31] Fauntleroy commented on #34
@wavebeem it looks like your problem could potentially be solved by implementing prop passthrough, which I'm amenable to adding. Please tell me if the following works for you:

[code]

[2017-04-17 23:47] wavebeem commented on #34
I don't have a lot of background on the issue I mentioned unfortunately, so I'm asking back in that thread if this looks good. I'll circle back later and take a look myself if no one else chimes in. Thanks for taking a look!

[2017-04-18 15:57] Fauntleroy commented on #33
@andrevenancio @brynjagr Could you try installing `react-simple-dropdown@3.0.0-alpha.1`?

[2017-04-18 16:02] andrevenancio commented on #33
installed, and warnings disappear. All good for me

[2017-04-22 14:53] wavebeem commented on #34
The issue that caused me to come here and request this in the first place has stalled unfortunately. Is the change just adding the `event` parameter into the onClick handler? I'm sure that would be a solid fix for our issue, if we actually get around to it. Thanks for your time looking into this.

[2017-04-24 21:59] Fauntleroy commented on #34
@wavebeem Actually, you should be able to do this *right now*:

[code]

Props are currently passed wholesale to the `DropdownTrigger` and `DropdownContent` components, so you should be able to just specify an `onClick` handler for `DropdownTrigger` and `stopPropagation` there. I'm currently working on normalizing that behavior and making it work for the parent `Dropdown` component as well, but for

[2017-04-25 03:59] wavebeem commented on #34
Fantastic! Thanks for your help.

[2017-04-25 06:03] kinglio8520 opened #36 "createReactClass will remove from react@16 version warning"

[2017-04-25 19:18] Fauntleroy commented on #36
This is a duplicate of https://github.com/Fauntleroy/react-simple-dropdown/issues/33

[2017-04-25 19:18] #36 closed

[2017-04-26 11:29] omerman opened #38 "onShow is fired before the content is actually displayed."
I came across an issue
while trying to focus(using `element.focus()`) on the dropdown content when the `onShow` prop is fired.
The problem is that the dropdown content is still invisble when the `onShow` is fired.

I've taken a look at the code and noticed that currently the prop `onShow` is fired before the `setState({ active: true })` is applied(in `DropDown.js` => `show(){ ... }`).

I added a p

[2017-05-01 15:14] #32 closed

[2017-05-01 15:14] #33 closed

[2017-05-01 15:14] #34 closed

[2017-05-01 17:25] bmv437 commented on #33
Hey @Fauntleroy, when do you expect to release `3.0.0` out of alpha?
It was difficult to find this `3.0.0-alpha.1` release since it isn't listed on the [releases](https://github.com/Fauntleroy/react-simple-dropdown/releases) page, or on [npm](https://www.npmjs.com/package/react-simple-dropdown)

Thanks!

[2017-05-01 17:39] Fauntleroy commented on #33
@bmv437 You should be able to find `3.0.0` on npm. The changelog can be found here: https://github.com/Fauntleroy/react-simple-dropdown/releases/tag/3.0.0

[2017-05-01 17:40] Fauntleroy commented on #38
https://github.com/Fauntleroy/react-simple-dropdown/pull/37

[2017-05-01 17:40] #38 closed

[2017-05-01 19:23] bmv437 commented on #33
@Fauntleroy Awesome, thank you for all your hard work!

[2017-05-13 14:58] hundsim opened #41 "Warning: Refs Must Have Owner"
I'm getting the following error:

I just installed `react-simple-dropdown` and used the exact code from the example page (except for the `props`) http://fauntleroy.github.io/react-simple-dropdown/

Is the problem on my end or has this happened to someone else?

I'm on React 15.5.4, Webpack 2.5.1 and Yarn 0.23.4

[2017-07-04 20:44] diasbruno commented on #24
@bsdo64 @Fauntleroy Hi, `react-modal` does not provide an interface to work directly with mouse events. I'll bring more information later.

[2017-07-07 08:38] LeonardoGentile commented on #9
If anybody is still interested in this, I've solved it in another way.
In the Dropdown render method we already [stick callback on trigger element ](https://github.com/Fauntleroy/react-simple-dropdown/blob/master/src/components/Dropdown.jsx#L84) so after that I stick another callback but this time on the DropdownContent element so that it will handle any event from the underlying elements before t

[2017-07-11 10:51] lawrencesong commented on #41
I have similar problem. @hundsim Have you figured out a solution to remove the warning?

[2017-07-11 11:22] Mikaila94 opened #43 "The dropdown is always active"
The dropdown seems to be always active and I can't seem to hide it, even though I run dropdown.hide().  It looks like the styles.css is not working, the child elements were shown as plain-text.  I am using React JS with ES6 and used npm to install the library.

[2017-07-11 11:58] Mikaila94 commented on #43
It worked when I included your stylesheet manually.

[2017-07-11 11:58] #43 closed

[2017-07-11 15:46] bsdo64 commented on #24
I solved this issue with @diasbruno's comment.

[2017-07-11 15:46] #24 closed

[2017-07-13 22:53] Fauntleroy commented on #24
@diasbruno thanks for the help on this one!

[2017-07-13 22:54] Fauntleroy commented on #41
@lawrencesong what versions of `react` and `react-simple-dropdown` are you using? What does your usage of `Dropdown` and its subcomponents look like?

[2017-07-17 03:50] lawrencesong commented on #41
@Fauntleroy I am using `react 15.6.1` and `react-simple-dropdown 3.0.0`. My usage is very similar to your example.

I got the warning only if I put `react-simple-dropdown` in my components library and use it in my app. When I use`react-simple-dropdown` directly in my app, the warning goes away.

[2017-07-18 23:40] Fauntleroy commented on #41
What do you mean by components library? What does putting this into the library entail?

[2017-07-19 03:34] rakeshpai opened #44 "a11y: Can't tab into DropdownTrigger"
Since the dropdown trigger is a link without an href, most browsers don't make it focusable, thus it's not possible to tab to the dropdown with a keyboard. This makes the dropdown trigger and all its contents inaccessible to keyboard users.

I found that a previous issue (#29) removed the href attribute, which makes sense in that context.

I could take a stab at a PR, if we agree that this needs t

[2017-07-20 10:10] lawrencesong commented on #41
@Fauntleroy I created a component library to use in multiple projects. If I put `react-simple-dropdown` into `my components library`, I will see the warning when I used the `my component library` in `my app`. Dependencies look like: `my app` -> `my components library` -> `react-simple-dropdown`

If I used `react-simple-dropdown` directly in  `my app`, I won't see the warning. Dependencies look lik

[2017-09-02 17:40] Arpit1294 opened #45 "Doesn't work with react hot loader"
I was using react simple dropdown but my code was returning error. I found out that when using react hot loader the condition check for classes like this with the child.type and the component class return a falsy value even though both have both are the same class. In order to fix that I came up with a solution where I declared a static method on each class and instead of directly checking the cla

[2017-09-08 02:30] lightninglu10 opened #46 "disabled={true} doesn't work"
Hey, I'm trying to use disabled={true} but it's not working. My component is still triggering and the menu pops. I just updated to the newest NPM package.

[code]

[2017-09-08 14:41] Fauntleroy commented on #46
Are you using a custom `onClick` handler on the `DropdownTrigger` component?

[2017-09-08 15:39] Fauntleroy commented on #45
What version of react are you using?

[2017-09-08 15:40] Fauntleroy commented on #44
@rakeshpai Sorry I took forever to get back to you about this. This is a completely reasonable and a pull request would be welcome.

[2017-09-08 17:34] lightninglu10 commented on #46
@Fauntleroy no, but i'm looking in the node_modules package and it doesn't have the disabled code in there. Have you published the new version to NPM?

[2017-09-08 18:36] Fauntleroy commented on #46
@lightninglu10 You're right! Looks like this is still in an alpha release. Feel free to use `3.2.0-alpha.2` for now. I'll make a change to prevent `onClick` from firing and release it as `3.2.0` sometime soon (likely later today).

[2017-09-08 18:46] Arpit1294 commented on #45
15.5.0 is my React Version. I don't think that it's version is a problem. It works fine. I only run into error when using  it with react hot loader.

[2017-09-08 19:08] lightninglu10 commented on #46
Great! Look forward to it. Thanks for the awesome package.

[2017-09-08 20:02] Fauntleroy commented on #45
I can take another look at this, but as far as I know I'm doing the comparison properly. Have you tried filing an issue with `react-hot-loader`?

[2017-09-08 20:30] Arpit1294 commented on #45
Yeah will do. I too think that this is a problem with the react hot loader where the classes are created on the fly when hot reloading which fails the check.

[2017-09-08 20:30] #45 closed

[2017-09-10 02:23] lightninglu10 commented on #46
@Fauntleroy Have you released `3.2.0` yet?

[2017-09-10 15:37] Fauntleroy commented on #46
@lightninglu10 `3.2.0` is now live: https://www.npmjs.com/package/react-simple-dropdown

Let me know if you have any issues!

[2017-09-10 15:37] #46 closed

[2017-09-21 22:51] mjoyce91 commented on #9
I was getting a `react/no-string-refs` lint error, but took a look at [this documentation about Refs and the DOM](https://facebook.github.io/react/docs/refs-and-the-dom.html#adding-a-ref-to-a-dom-element) and was able to get something working:

[code]

[2017-10-03 11:01] willowTank opened #47 "How Can I change direction of dropdown menu?"
Hello I want to show top direction instead of down one.
Please help me.

[2017-10-03 17:40] Fauntleroy commented on #47
@willowTank as of right now this module does not support any special positioning, so you'll need to do it manually. If you know the height of both your `DropdownContent` and `DropdownTrigger` it should be fairly trivial with CSS. If the size of either of these is dynamic, it could be more difficult.

I'm actually working on a feature which might make this easier, so stay tuned.

[2017-10-04 16:38] willowTank commented on #47
Thanks for your time.

[2017-10-04 16:39] #47 closed

[2017-10-05 10:06] Arpit1294 opened #48 "Cannot map inside dropdown menu"
So I have a status list of each seller that I want to map inside dropdown menu as list.
Now when I map it. It does not show any data but it works when the data is static.

here is my code

`<Dropdown class="dropdown-menu--icons">
						<DropdownTrigger class={'btn btn-primary'}>
							ACTION
						<Icon class="icon inverse" icon="ICON_ANGLE_BOTTOM" />
						</DropdownTrigger>
							<DropdownMenu

[2017-10-05 17:05] Fauntleroy commented on #48
What is `DropdownMenu`? Do you have a complete example of this code, including the imports?

[2017-10-05 18:11] Arpit1294 commented on #48
It was my fault. Wrote some bad code. Thanks for replying.

[2017-10-05 18:11] #48 closed

[2017-10-19 11:32] tomellwood opened #51 "React 16 support"
react-simple-dropdown@3.2.0 requires a peer of react@0.14.x || 15.x but none was installed.
react-simple-dropdown@3.2.0 requires a peer of react-dom@0.14.x || 15.x but none was installed.

[2017-12-07 05:29] vnguyen94 opened #54 "a11y: onEnter keydown on DropdownTrigger"
It'd be nice to be able to use enter key to trigger the DropdownTrigger, for accessing an app using only the keyboard.

[2017-12-08 07:59] LyhjeHylje opened #55 "onClick inside dropdown not working"
For some reason onClicks inside my dropdown are not firing, even this simplest possible example is not working and I cannot figure out why

[code]

[2017-12-08 20:37] Fauntleroy commented on #55
I can't replicate this issue locally using the code supplied. Which version of the component are you using?

[2017-12-11 07:40] LyhjeHylje commented on #55
I am using the latest version, but it seems that the problems were somewhere else: I left the dropdown code in place and started working on the rest of my site and at some point noticed that the onclick works.
Probably some other element was covering dropdown's a-tag or somehow interfering with it.
Sorry about the false alarm.

[2017-12-11 07:40] #55 closed

[2017-12-19 13:37] mjoyce91 opened #56 "RemoveElement prop is passed to the HTML element"
It's great that we can pass arbitrary props to the HTML element, but it appears that utility props such as `removeElement` are passed as well. This causes the following warning:

<img width="1378" alt="screen shot 2017-12-19 at 8 33 44 am" src="https://user-images.githubusercontent.com/11576347/34159552-ad6c09ae-e497-11e7-90f1-a18347630a05.png">

Non-standard HTML attributes that are only used for

[2017-12-19 13:41] mjoyce91 commented on #56
Never mind, was using an old version!

[2017-12-19 13:41] #56 closed

[2018-02-08 01:32] sastoveza commented on #51
Wondering the same thing? Any updates?

[2018-02-09 20:19] iamsoorena commented on #51
I recently updated my react app and suddenly my dropdowns stopped working, when will this problem resolve?

[2018-03-12 01:32] johnryan commented on #45
@Arpit1294 did you figure out a solution to this issue? I just noticed it when starting to use `react-hot-loader` 4.0.0

[2018-03-13 14:37] DonGiulio commented on #41
I'm seeing this as an error after upgrading npm to version 5.7.1 from 5.6.x.

With the previous version I didn't even get the warning, but now it's breaking my whole site.

This is the markup for my menu component, the line generating the problem is the first one:

[code]

I see the error also if I remove the `ref="menu"` prop.

this is the complete error from the console:
[code]

[2018-06-18 17:18] supukarmin commented on #41
@lawrencesong Could you solve the issue? Facing the same problem right now.

[2018-06-27 20:36] kiLLro opened #59 "few dropdowns on the page"
I have a few dropdowns on the page, and I want to have a few dropdowns openly, and that others dont close, how can I do this?

[2018-06-28 09:20] kiLLro commented on #59
solution: http://f4.s.qip.ru/Ha2NUeB3.png

[2018-06-28 09:20] #59 closed

[2018-07-26 13:47] tonydiaz commented on #41
Is anyone getting past this issue? I can't render component due to this error. Since a ref is part of this component I can't change it.

Code: https://github.com/Fauntleroy/react-simple-dropdown/blob/c43deb49e83197767b96938939bf0ecd4208bba6/src/components/Dropdown.jsx#L89

Error:
[code]

[2018-08-02 15:36] #41 closed

[2018-08-02 15:36] #51 closed

[2018-08-02 15:36] Fauntleroy commented on #51
This issue should be resolved with version 3.2.1

[2018-08-02 15:37] Fauntleroy commented on #41
This issue should be resolved with version 3.2.1

[2018-08-02 21:13] mray-infor opened #60 "Webpack can't resolve 'react-simple-dropdown' after upgrade from 3.2.0 to 3.2.1"
Hello there,

We have a project that we are building with webpack, using babel-loader and awesome-typescript-loader. All node dependencies, including react-simple-dropdown, are installed with `npm install`. After the 3.2.1 update, `npm run serve` began failing with the following error message from webpack:

[code]

I checked, and npm did download the `react-simple-dropdown` package to the usual lo

[2018-08-02 21:16] Fauntleroy commented on #60
I'm not sure why that would be happening, since the only change between `3.2.0` and `3.2.1` is a modification of the `peerDependencies`: https://github.com/Fauntleroy/react-simple-dropdown/commit/8f01a727028475defbc92af2ee9186251d8c9927

[2018-08-03 07:57] fr33l commented on #60
We are affected by this as well, but it's rather  intermittent, might be related to node version? For us it's failing with  node v6.11.2 , but builds with node v.10.7.0

[2018-08-03 12:49] smitch88 commented on #60
Also running into this issue with webpack builds. Failing all our circleci builds because of it. @fr33l Did you narrow it down to a potential node versioning issue? We run node `v9.11.1` but also cannot upgrade to node 10 if that does successfully build as expected

[2018-08-03 12:55] eugeneford commented on #60
@smitch88, in our case (@fr33l) we are not facing this issue with node@10, but are facing with node@6. So yes, node version can be the potential issue, but we did test it yet

[2018-08-03 13:02] smitch88 commented on #60
@Fauntleroy Not sure if it makes a difference because Im not as well versed with peer deps aspect but another repo which recently did the same thing, `react-icons`, has their versions with a semver pattern e.g, `14.x.x` instead of just `14.x`

Reference:
https://github.com/react-icons/react-icons/pull/117/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R59

[2018-08-03 14:14] mray-infor commented on #60
@fr33l We are using node v6.9.2, so that could be it.

Inspecting the difference between 3.2.0 and 3.2.1 on my own machine, there is some kind of massive change in the `lib` subdirectory:

![screenshot from 2018-08-03 10-10-07](https://user-images.githubusercontent.com/36543569/43647536-e12531c8-9705-11e8-848e-e80986aad933.png)

[2018-08-03 14:57] Fauntleroy commented on #60
![cg2wtu2vhtoguh3bfdnetjap2dyuxuhq62wj3eihca0](https://user-images.githubusercontent.com/507047/43649670-9bd553d6-96f2-11e8-8b66-a60b569d6f95.jpg)

This issue has been resolved by https://github.com/Fauntleroy/react-simple-dropdown/commit/7395f5d75e34b8764346839807d0d4120e4d646b. **Please install version 3.2.2**.

As for what actually went wrong: I had been switching between the `master` branch an

[2018-08-03 14:57] #60 closed

[2018-08-03 15:12] mray-infor commented on #60
Looks good, thanks!

[2018-08-03 16:11] alex6633 opened #61 "Module not found error - Facing issue in the file name dropdown.js"
Hi Team,
I was using the version react-simple-dropdown version 3.2.0 all these and it worked perfectly fine for me without any issues. But somehow when I am doing Yarn install I am getting the below error.

**Module not found: `C:\myFolder\myProject\myWork\myApp\node_modules\react-simple-dropdown\lib\components\Dropdown.js` does not match the corresponding path on disk `dropdown.js`.**

When I tri

[2018-08-03 16:12] Fauntleroy commented on #61
@alex6633 Are you using version `3.2.1`? There was an issue with the `/lib` directory that the recently released `3.2.2` solves.

[2018-08-03 16:13] alex6633 commented on #61
Hi @Fauntleroy ,

No I am using version 3.2.2 .

[2018-08-03 16:15] Fauntleroy commented on #61
Alright, it seems like this is the case issue my other feature branch solved. I'll quickly fix this issue and make my second release of the morning 😬

[2018-08-03 16:18] alex6633 commented on #61
Hi @Fauntleroy ,
Thank you so much for your quick response. :)
I will check once again and update you shortly on this.

Regards,
Alex

[2018-08-03 16:34] takempf commented on #61
@alex6633 3.2.3 is now released. This should resolve the issue.

[2018-08-03 16:34] #61 closed

[2018-08-03 16:51] alex6633 commented on #61
Hi @Fauntleroy ,
Yayyy!!! 🥇
It works now
Thank you so much.

Regards,
Alex

[2018-10-01 23:05] nkov commented on #41
@Fauntleroy FYI, the issue is still present in 3.2.3, but the workaround by @tonydiaz fixes it.

[2018-10-21 11:46] filipdanic opened #62 "package.json might need an audit & update"
Pulling the repo and doing an install, reports lots of potential vulnerabilities:

Also some strange entries. Not sure why this project has `electron` as dev dependency?

[2018-10-22 21:43] takempf commented on #62
Thanks for filing this issue. I should definitely take a look and see about eliminating the high and critical issues. As for `electron`, that's for testing with zuul: https://github.com/Fauntleroy/react-simple-dropdown/blob/master/package.json#L11

[2018-10-31 17:53] ShepelievD commented on #34
@Fauntleroy `event` is `undefined` on clicking

[2018-12-28 08:57] leonid-shevtsov commented on #44
I think a `<button>` is more appropriate for the dropdown trigger.

[2019-05-09 14:06] jutunen opened #63 "Build error: Element type is invalid"
I'm building with Create React App and React version 16.8.6. I'm trying to use Dropdown component in a function component. I get following build time error:

_Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object._

[2019-05-29 21:49] yaybrigade2 commented on #63
Same thing is happening for me. Any update?

Also getting:
_react-dom.development.js:506 Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount method._

[2019-07-12 13:12] amr commented on #63
How are you importing the components? The correct way is like that:

`import Dropdown, { DropdownTrigger, DropdownContent } from 'react-simple-dropdown'`

[2020-06-03 10:51] henriquemota99 opened #65 "Could not find a declaration file for module 'react-simple-dropdown'."
Hey.
Im trying to import it to my project but I always get this error when importing on file:
`Could not find a declaration file for module 'react-simple-dropdown'. `

And then while compiling

[code]

[2020-06-03 15:07] takempf commented on #65
The first error sounds like an issue with TypeScript, which this library has no support for.

I'm not sure about the second issue. How are you attempting to import the module? What does your code look like?

[2020-06-03 15:09] henriquemota99 commented on #65
Currently I'm using a Docker file with Node to run the create-project-react.
Its a simple project. I installed and I checked on node_modules that there is react-simple-dropdown and its all good.

But when I try to import the dropdown from the React-simple-dropdown I got these errors.. Its a clean project and I don't know why I got that error. What you want to see?

EDIT:
Just using this after inst

[2020-06-03 17:02] takempf commented on #65
What are you using to bundle the javascript? Something like webpack or rollup?

[2020-06-04 12:36] henriquemota99 commented on #65
I'm really new at this on React. I think I didn't setup nothing of that.. I'll search then how I can run javascript on React and I'll post feedback later. Really thanks!!

[2020-06-26 00:43] pedro-lb commented on #63
Thanks @amr ! The README is outdated and does not contain this information.